/** cf allows the div to show all floating divs inside of it. */
.cf:before,
.cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}
.cf {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
body {
	border-width: 0;
	margin: 0;
	background-color: rgba(127, 127, 127, 0.48);
}
div.ssLogo {
	background-color: #D5D6DA;
	display: inline-block;

	position: relative;
	left: 718px;
	top: 5px;
	width: 275px;
	padding-left: 14px;

	/** Drop shadow. */
	-moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5);
}
div.mainRootDiv {
	width: 1024px; height: 768px;
	margin: auto;
	background-color: #424242;

	/** Drop shadow. */
	-moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5);

}
div.mainHeaderDiv {
	height: 56px;
	width: 100%;
	/** Webkit. */
	background: -webkit-gradient(linear, left top, left bottom, from(#E8EAED), to(#5E5F60));
	/** Firefox */
	background: -moz-linear-gradient(top,  #E8EAED,  #5E5F60);
	/** IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EAED', endColorstr='#5E5F60');
}

div.mainMenuDiv {
	width: 56px; height:712px;
	background-color: #e8eaed;
	display: inline-block;
	float: left;
	position: relative;
}

div.mainBodyDiv {
	width: 964px;
	height: 710px;
	display: inline-block;
	/*background-color: yellow;*/
	overflow: hidden;

}

/** Main Menu Buttons. */
/** |- Information */
.btnMain {
	width:56px; height: 56px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
div.btnInformation {
	background: transparent url('../img/Buttons/information.png') no-repeat;
}
div.btnInformation:hover {
	background: transparent url('../img/Buttons/information_hover.png') no-repeat;
}
div.btnAlerts {
	background: transparent url('../img/Buttons/alerts.png') no-repeat;
}
div.btnAlerts:hover {
	background: transparent url('../img/Buttons/alerts_hover.png') no-repeat;
}
div.btnMedicalTracker {
	background: transparent url('../img/Buttons/medicalTracker.png') no-repeat;
}
div.btnMedicalTracker:hover {
	background: transparent url('../img/Buttons/medicalTracker_hover.png') no-repeat;
}
div.btnKidTracker {
	background: transparent url('../img/Buttons/kidTracker.png') no-repeat;
}
div.btnKidTracker:hover {
	background: transparent url('../img/Buttons/kidTracker_hover.png') no-repeat;
}
div.btnCarTracker {
	background: transparent url('../img/Buttons/carTracker.png') no-repeat;
}
div.btnCarTracker:hover {
	background: transparent url('../img/Buttons/carTracker_hover.png') no-repeat;
}

div.btnPetTracker {
	background: transparent url('../img/Buttons/petTracker.png') no-repeat;
}
div.btnPetTracker:hover {
	background: transparent url('../img/Buttons/petTracker_hover.png') no-repeat;
}

div.btnHomeSecurity{
	background: transparent url('../img/Buttons/homeSecurity.png') no-repeat;
}
div.btnHomeSecurity:hover {
	background: transparent url('../img/Buttons/homeSecurity_hover.png') no-repeat;
}

/** |- Properties */
div.btnProperties {
	background: transparent url('../img/Buttons/settings.png') no-repeat;
}
div.btnProperties:hover {
	background: transparent url('../img/Buttons/settings_hover.png') no-repeat;
}

div.btnToolBullsEye {
	background: transparent url('../img/Buttons/bullsEye.png') no-repeat;
}
div.btnToolCircle {
	background: transparent url('../img/Buttons/circle.png') no-repeat;
}
div.btnToolPolygon {
	background: transparent url('../img/Buttons/polygon.png') no-repeat;
}
div.deviceList {
	min-height: 544px;
	min-width: 56px;
}

#map_canvas {
	/*height: 710px;*/
	/*height: 690px;*/
	height: 656px;
	/*position: relative;*/
	width: 740px;
	/*display: inline;*/
	float: right;
	background-color: cyan;
}

#devOptions {
	display: inline;
	float: right;
}
div.toolsMenu {
	width: 964px;
	height: 54px;
	background-color: #9acd32; /** yellowgreen */
	/*position: relative;*/
	float: left;
}
div.menuGps {
	background-color: beige;
	/*width: 220px;*/
	width: 0;
	height: 656px;
	display: initial;
	float: left;
	/*padding: 5px 10px;*/
	padding: 5px 0;
	overflow: hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

/** Events Table. */
table.listTable {
	border-collapse: collapse;
	width: 100%;
	/*display: inline-table;*/
	/*padding: 10px 5px;*/
	/*margin: 10px 5px;*/
	/*clear: both;*/
}
div.menuGps th {
	font-size: 12px;
	font-family: Arial;
}
div.menuGps tr.trNormal, div.menuGps tr.trAlt, div.menuGps tr.trNormalGps, div.menuGps tr.trAltGps {
	font-size: 11px;
	font-family: helvetica;
	border: solid 1px;
	cursor: pointer;
}

div.menuGps tr.trNormal td, div.menuGps tr.trAlt td, div.menuGps tr.trNormalGps td, div.menuGps tr.trAltGps td {
	border: solid 1px blue;
}
div.menuGps tr.trNormalGps td, div.menuGps tr.trAltGps td {
	border: solid 1px #C0504D;
}

div.menuGps tr.trNormal { background-color: #87cefa; }
div.menuGps tr.trAlt { background-color: rgba(135, 206, 250, 0.28); }
div.menuGps tr.trNormalGps { background-color: #EFD3D2; }
div.menuGps tr.trAltGps { background-color: rgba(239, 211, 210, 0.24); }

div.menuGps td.rowPointer {
	background: url('../img/rowPointer.png') no-repeat;
	min-width: 3px;
	min-height: 34px;
}

div.menuGps td.rowPointerGps {
	background: url('../img/rowPointer-Burgundy.png') no-repeat;
	min-width: 3px;
	min-height: 34px;
}
div.menuGps td.rowPointerGpsSmall {
	background: url('../img/rowPointer-BurgundySmall.png') no-repeat;
	min-width: 3px;
	min-height: 17px;
}

td.rowSpacer {
	min-height: 1px;
	background-color: black;
}

/** GPS Info Slider. */
div.monPartyInfo {
	border: solid 1px blueViolet;
	border-radius: 10px;
}
table.monPartyInfo {
	width: 100%;
}
span.secTitle {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

td.fieldTitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
td.fieldValue {
	font-family: Verdana,Geneva,sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
}